# -- API
ANTHROPIC_API_KEY=

# -- Foundry: https://code.claude.com/docs/en/microsoft-foundry
## Foundry API Key
ANTHROPIC_FOUNDRY_API_KEY=
## Azure SDK
ANTHROPIC_FOUNDRY_RESOURCE=

# -- Bedrock: https://code.claude.com/docs/en/amazon-bedrock
AWS_REGION=
## Bedrock API Key
AWS_BEARER_TOKEN_BEDROCK=
## SSO profile
AWS_PROFILE=
## AWS Key
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=